$linksHover: #eee;
$linkVisited: red;
$linkColor: gray;
$detailsColor: #222426;
$linesColor: white;

@font-face{
    font-family: startText;
    src: url(../../assets/Font.ttf);
}

h1 {
    font-family: startText;
}

hr {
    border-top: 3px dotted $linesColor;
}

